<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EpamEducationalProject</display-name>
  <icon/>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>edu.epam.controllerServlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>edu.epam.controllerServlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxController</servlet-name>
    <servlet-class>edu.epam.controllerServlet.AjaxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxController</servlet-name>
    <url-pattern>/AjaxController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>edu.epam.controllerServlet.GetImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/images</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetExcelWithAbiturients</servlet-name>
    <servlet-class>edu.epam.controllerServlet.GetExcelWithAbiturients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExcelWithAbiturients</servlet-name>
    <url-pattern>/excel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAttachmentServlet</servlet-name>
    <servlet-class>edu.epam.controllerServlet.GetAttachmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttachmentServlet</servlet-name>
    <url-pattern>/attachments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFilesServlet</servlet-name>
    <servlet-class>edu.epam.controllerServlet.FilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFilesServlet</servlet-name>
    <url-pattern>/files</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>edu.epam.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.xml</param-value>
  </context-param>
  <listener>
    <listener-class>edu.epam.persistance.Log4jInit</listener-class>
  </listener>
  <listener>
    <listener-class>edu.epam.persistance.BundleManager</listener-class>
  </listener>
  <listener>
    <listener-class>edu.epam.persistance.CheckSwitchOnLessonListener</listener-class>
  </listener>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>mail.for.java.tests@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>breakdown</param-value>
  </context-param>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  
   <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>testing.ResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/ResponseServlet</url-pattern>
    </servlet-mapping>
  
</web-app>