/*h1, h2,ul {
	clear: both;
}*/

ul.pagination1 li:hover,
ul.pagination2 li:hover,
ul.pagination3 li:hover {
	background-color: #0C84BC;
}

ul.pagination1 li,
ul.pagination2 li,
ul.pagination3 li {
    /*padding: 10px;*/
    font-family: georgia;
	background-color: #8890FC;
    font-size: 24px;
    color: #fff;
    line-height: 1;
    width: 600px;
    margin-bottom: 1px;
	list-style:none;
}

.simplePagerContainer {
    overflow: auto;
}

ul.red {
	outline:10px solid red;
}

ul.simplePagerNav li{
    display:inline-block;
    /*display:block;
    float: left;*/
    /*padding: 10px;*/
    margin-bottom: 10px;
    font-family: georgia;
	font-size:14px;
}

ul.simplePagerNav li a{
    display:block;
    height: 100%;
    color: #333;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
ul.simplePagerNav {
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
li.currentPage {
	background: red;
    background: #0C84BC;
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}

table.pageme {
    border-collapse: collapse;
    border: 1px solid #ccc;
}  

table.pageme td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}